.css-dwuj3p-MuiTableCell-root{
    color: white !important;
    background:  #427590!important;
 font-weight: 500 !important;
}
.css-nw3mfz{
  color: white !important;
 background-color: #427590!important;
 font-weight: 500 !important;
} 

@media screen and (max-width: 414px) {
  
    
  
}